<h1>Chat</h1>
<hr />

<div class="app-mensaje" id="app-mensajes">
  <div *ngFor="let chat of mensajesChat" [ngClass]="{'text-end': _serviceAuth.user.uid == chat.uid }">
    <span class="badge"
      [ngClass]="{'bg-primary': _serviceAuth.user.uid == chat.uid, 'bg-success' : _serviceAuth.user.uid != chat.uid }">
      {{ chat.nombre }}
    </span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
</div>

<input type="text" class="form-control" [(ngModel)]="mensaje" placeholder="Enviar mensaje"
  (keyup.enter)="enviarMensaje()">